.about {
    /* height: fit-content; */
    height: fit-content;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.part1 {
    height: fit-content;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    /* align-items: center; */
}

.part1_left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;

}

.part1_left>h1 {
    text-align: center;
    margin-bottom: 3rem;

}

.part1_left>p {
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 10px;
}

.part1_left_c {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.part1_left_c>span {
    font-size: 1rem;
    text-align: right;
}

.part1_right {
    flex: 0.4;
    display: flex;
    /* width: 90%; */
}

.part1_right>img {
    width: 90%;
    min-width: 400px;
    /* height: 90%; */
    height: auto;
    margin: auto;
}

.part2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.part2>h1 {
    margin-bottom: 3rem;
    color: whitesmoke;
    font-size: 3.3rem !important;
    /* font-weight: bolder !important; */
}

.skill_set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skill_set_skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 150px;
    /* border: solid 2px white; */
    margin: 1rem;
    color: whitesmoke !important;
    /* margin-left: 2rem;
    margin-top: 2rem; */
    transition: all 0.4s ease-in-out;
}

.skill_set_skill>img {
    width: 128px;
    height: 128px;
}

/* .part3 {
    height: 30vh;
} */


.skill_set_skill:hover {
    transform: translateY(-9px);
}

@media screen and (max-width: 1090px) {
    .part1 {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
    }


    .part1_left>p {
        font-size: 1.5rem;
        margin-left: 1rem;
        padding: 10px;
    }


}