.footer {

    color: #fff;
    position: relative;
}

.footer_wave_svg {
    display: block;
    height: 100%;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer_content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 80%;
    color: #00FF00;
    z-index: 1;
}

footer {
    position: relative;
    bottom: 0;
    margin: 0%;
    padding: 0%;
    background-color: #0b002800;
    color: whitesmoke;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.namelink {
    text-decoration: none;
    font-size: 1.2rem;
    color: aqua;
}



.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,150 C 208.8,132.26666666666665 417.6,114.53333333333333 567,98 C 716.4,81.46666666666667 806.4000000000001,66.13333333333334 942,75 C 1077.6,83.86666666666666 1258.8,116.93333333333334 1440,150 L 1440,400 L 0,400 Z"
            );
    }

    25% {
        d: path("M 0,400 L 0,150 C 207.19999999999993,162.53333333333333 414.39999999999986,175.06666666666666 552,171 C 689.6000000000001,166.93333333333334 757.6000000000001,146.26666666666665 894,140 C 1030.3999999999999,133.73333333333335 1235.1999999999998,141.86666666666667 1440,150 L 1440,400 L 0,400 Z"
            );
    }

    50% {
        d: path("M 0,400 L 0,150 C 190.93333333333334,155.60000000000002 381.8666666666667,161.20000000000002 520,175 C 658.1333333333333,188.79999999999998 743.4666666666667,210.8 888,208 C 1032.5333333333333,205.2 1236.2666666666667,177.6 1440,150 L 1440,400 L 0,400 Z"
            );
    }

    75% {
        d: path("M 0,400 L 0,150 C 122.40000000000003,106.66666666666666 244.80000000000007,63.33333333333333 429,84 C 613.1999999999999,104.66666666666667 859.2,189.33333333333334 1038,211 C 1216.8,232.66666666666666 1328.4,191.33333333333331 1440,150 L 1440,400 L 0,400 Z"
            );
    }

    100% {
        d: path("M 0,400 L 0,150 C 208.8,132.26666666666665 417.6,114.53333333333333 567,98 C 716.4,81.46666666666667 806.4000000000001,66.13333333333334 942,75 C 1077.6,83.86666666666666 1258.8,116.93333333333334 1440,150 L 1440,400 L 0,400 Z"
            );
    }
}

@media only screen and (max-width: 520px) {
    .footer {

        color: #fff;
        position: relative;
    }

    .footer_wave_svg {
        display: block;
        height: 100%;
        position: relative;
        bottom: 0;
        width: 100%;
    }



    .footer_content {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        top: 80%;
        color: #00FF00;
        z-index: 1;
    }

    footer {
        position: relative;
        bottom: 0;
        margin: 0%;
        padding: 0%;
        background-color: #0b002800;
        color: whitesmoke;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem !important;
    }

    .namelink {
        text-decoration: none;
        font-size: 0.6rem !important;
        color: aqua;
    }
}