@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.header {
    position: sticky;
    top: 0;
    width: 100%;
    /* box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1); */
    /* background-color: #151418; */
    /* background-color: #15141800; */

    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    z-index: 1;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo a {
    font-size: 2.4rem;
    font-weight: bold;
    /* font-family: "Cutive Mono", monospace; */
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 400;
    color: #fff;
    /* color: #00FF00; */
    /* color: #ffa079; */
}

.logo a span {
    /* color: #8739fa; */
    color: #00FF00;
    /* color: #0D0D0D; */
    /* font-family: "Cutive Mono", monospace; */
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 400;
}

.logo a:hover {

    color: #00FF00;
    /* color: #00FF00; */
    /* color: #ffa079; */
}

.logo a span:hover {
    /* color: #8739fa; */
    color: #fff;
    /* color: #0D0D0D; */
    /* font-family: "Cutive Mono", monospace; */
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 400;
}

/* .as :hover {
    color: #fff
} */


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    /* color: #02e1ba; */
    opacity: 1;
    color: #00FF00;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        /* background-color: #151418; */
        /* background-color: #15141800; */
        align-items: start;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(199, 109, 109, 0.15) 1.95px 1.95px 2.6px;
        background: rgba(0, 0, 0, 0.374);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        /* background-color: #00FF00; */
        border: 1px solid rgba(255, 255, 255, 0.01);


    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }



    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }


}