@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.main_body {
    height: 160vh;
    width: 100%;
}

.main_body1 {
    margin-top: 10px;
    width: auto;
    padding: 20px;
    height: 80vh;
    background-color: rgba(127, 255, 212, 0.381);
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    display: flex;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.main_body2 {
    margin-top: 10px;
    width: auto;
    padding: 20px;
    height: 80vh;
    background-color: rgba(127, 255, 212, 0.31);
    margin-left: 40px;
    margin-right: 40px;
}